p {
  font-size: 50px;
}

.dataLine {
  list-style: none;
  display: flex;
}

.dataLine li {
  padding: 0 50px;
}

.siteHeader {
  align-items: center;
}

.siteHeader ul {
  display: flex;
  justify-content: center;
}

.siteHeader ul li{
  font-size: 30px;
  padding: 0 50px;
  text-decoration: none ;
}
